# MongoDB
MONGO_URL=mongodb+srv://...
DATABASE_NAME=tea_soil_db

# MQTT
MQTT_BROKER=...
MQTT_PORT=8883
MQTT_USERNAME=iteagrow
MQTT_PASSWORD=...
MQTT_TOPIC=test/iot

# Model
MODEL_PATH=app/models/xgboost_model_20260214_134249.pkl
