# data folder
data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/



# Jupyter
.ipynb_checkpoints/
Untitled*.ipynb

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
*.tmp
